///////////////////////////////////////
// Flexslider Base Styles
///////////////////////////////////////

.flexslider {
  width: 100%;
  border: none;
  @include box-shadow(none);
  @include border-radius(0px);
  margin: 0;
//  overflow: hidden;

  .slides {
    overflow: hidden;
    img { height: auto; }
    li { position: relative; }
  }

  .flex-prev {
    left: -3em;
  }
  .flex-next {
    right: -3em;
  }
  &:hover {
    .flex-prev {
      left: -3em;
    }
    .flex-next {
      right: -3em;
    }
  }
}

.flex-direction-nav {
  display: none;
}

// Front Page Flexslider Styles
.front {

  .flexslider {
    display: block;
    position: relative;
    width: 100%;
    border: none;
  }
  
  .views-field-field-banner-image {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  // Flex Caption and Banner Overlay Styles
  .flex-caption {
    line-height: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
  }

  .banner-overlay {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    text-align: left;
    .banner-overlay-inner {
      @include font-size(1);
      & > h1, & > p {
        padding: 0 1em;
      }
    }
  }

  .banner-title {
    @include font-size(2);
    font-family: $font-heading;
    margin: 0 0 1em 0;
    color: $white;
  }

  .banner-message {
    display: none;
  }
}

// Not-Front Page Flexslider Styles
.not-front {
  .flexslider {
    overflow: visible;
    margin-bottom: 3em;
  }
}

// Testimonal Flexslider Styles
.not-front .testimonials {
  padding-bottom: 2em;
  .flexslider {
    clear: both;
    margin: 1em 0;
    width: 100%;
    overflow: visible;
    margin-bottom: 1em;
    background: $green;
    color: $white;
    text-align: center;
    .slides {
      position: relative;
      overflow: hidden;
      padding: 1em;
      z-index: 1;
      margin-top: -1em;
    }
    .testimonial-content {
      margin-bottom: 1em;
      div {display: inline-block;}
    }
    .testimonial-author {
      margin-top: 1em;
    }
    h3 {
      color: $white;
      margin: 0;
    }
    .flex-control-paging li a {
      @include border-radius(1em);
      @include box-shadow(none);
      background: transparent;
      border: 3px solid $green;
      &.flex-active {
        background: $green;
      }
    }
  }
}

///////////////////////////////////////
// Mobile Grid
///////////////////////////////////////

@include breakpoint($mobile) {
  .not-front .testimonials {
    .flexslider {
    }
  }
}

///////////////////////////////////////
// Tablet Grid
///////////////////////////////////////

@include breakpoint($tablet) {
  
  $width : $tablet;
    
  .flex-direction-nav, .flex-caption {
    display: block;
  }

  .flex-direction-nav {
    display: block;
    a, a:link, a:visited {
      @include border-radius(5em);
      text-decoration: none !important;
      height: 3em;
      line-height: 3em;
      width: 3em;
      background: transparent;
      display: block !important;
      color: transparent;
      text-shadow: none;
      padding: 0;
      opacity: 1;
//      background: $white;
      &:before { 
        @include font-size(2);
        text-decoration: none !important;
        font-family: $font-awesome;
        line-height: 1.5em; 
        width: 1.5em;
        text-align: center;
        display: inline-block; 
        content: '\f104';
        color: $green;
      }

      &.flex-next:before {
        content: '\f105';
      }
    }
  }

  // Not-Front Page Flexslider Styles
  .not-front {
    .flexslider {
      margin-bottom: 2em;
    }
    .flex-caption {
      @include font-size(1.5);
      height: 2em;
      line-height: 2em;
      padding: 0 1em;
      background: rgba($black, .7);
      color: $white;
      position: absolute;
      top: 1em;
    }

    .flex-direction-nav {
      @include font-size(.8);
    }
  }

  // Front Page Flexslider Styles
  .front {
    .banner-overlay {
      .banner-overlay-inner {
        @include font-size(1);
        & > h2, & > p {
          padding: 0 1em;
        }
      }
    }
  }
}

///////////////////////////////////////
// Normal Grid
///////////////////////////////////////

@include breakpoint($normal) {
    
  $width : $normal;

  // Front Page Flexslider Styles
  .front {

    .flexslider {
      background: $green; 
    }

    ul.slides li.flex-active-slide {
      img {
        @include fadeInRight(1s, 0, ease, both, hidden);
      }
      .flex-caption .banner-overlay {
        h2 { @include fadeInRight(1s, .25s, ease, both, hidden); }
        p {  @include fadeInRight(1s, .5s, ease, both, hidden); }
        a { @include fadeInRight(1s, .75s, ease, both, hidden);  }
      } 
    }

    .banner-overlay {
      width: $width;
      left: $width;
      margin: auto;
    }

    .banner-title {
      @include font-size(3);
      margin: 0;
    }

    .banner-message {
      @include font-size(1.2);
      display: block;
      margin: 0 0 1em 0;
    }
  }

  .not-front {
    ul.slides li.flex-active-slide {
      .flex-caption {
        @include fadeInRight(1s, .25s, ease, both, hidden);
      }
    }
  }
  
  .not-front .testimonials {
    .flexslider {
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }
      .slides {
        padding: 1em 10em;
        &:before, &:after {
          @include font-size(3);
          width: 2em;
          height: 2em;
          line-height: 0;
          top: 50%;
          color: darken($white, 5%);
          position: absolute;
          font-family: $font-awesome;
          content: '"';
          z-index: 9;
          visibility: visible;
          display: inline-block;
          vertical-align: middle;
        }
        &:before {
          content: '\f10d';
          left: 0;
        }
        &:after {
          content: '\f10e';
          right: 0;
        }
        li.flex-active-slide {
          @include fadeInRight(1s, .25s, ease, both, hidden);
        }
      }
      .testimonial-content {
        div {display: inline-block;}
      }
      h3 {
        display: inline-block;
      }
    }
  }
}

///////////////////////////////////////
// Wide Grid
///////////////////////////////////////

@include breakpoint($wide) {

  // Front Page Flexslider Styles
  .front {
    .banner-overlay {
      .banner-overlay-inner {
        @include font-size(1.2);
      }
    }
    .banner-title {
      @include font-size(4);
    }
    .banner-message {
      @include font-size(1.5);
    }
  }
}
    

///////////////////////////////////////
// FlexSlider Overrides
///////////////////////////////////////

.main article .flexslider ul {
  margin-left: 0;
  list-style-type: none;
  position: initial;
  li {
    margin: 0;
    &:before {
      content: "";
      margin: 0;
    }
  }
}