// Theme default colors

$green        : #a3c1ad;
$green-hover  : darken($green, 10%);;
$green-dark   : #447660;
$brown        : #472311;
$brown-hover  : #bcafa0;
$brown-light  : #b26a4c;
$cream        : #fffaeb;
$cream-dark   : #d4ccbe;
$white        : #ffffff;
$black        : #000000;
$orange       : #bb5c1d;
$red          : #8f221c;


// Social media colors

$facebook  : #3b5998;
$twitter   : #00aced;
$pinterest : #cb2027;
$instagram : #517fa4;