@include breakpoint($wide) {
  
  // Zen Variable Overrides
  $zen-column-count: 9;
  $zen-grid-width: $wide;
    
  .container {
    @include zen-grid-container;
    @include zen-grid-item(9,1);
    @include zen-float(none);
    margin: auto;
    padding: 1em 0;
  }
  
  .l-header {
    padding-bottom: 0;
  }
  
  .l-region--header-left {
    @include zen-grid-item(3,1);
  }
  
  .l-region--header-middle {
    @include zen-grid-item(3,4);
  }
  
  .l-region--header-right {
    @include zen-grid-item(3,7);
  }
  
  .l-region--footer-top-left {
    @include zen-grid-item(3,1);
  }
  
  .l-region--footer-top-middle {
    @include zen-grid-item(3,4);
  }
  
  .l-region--footer-top-right {
    @include zen-grid-item(3,7);
    @include clearfix();
  }
}